<div class="form">
  <div class="pop">
  <h1>Oprav svoju objednavku</h1>
  </br>
<div class="meno">
<%= render 'form' %>
</div>
<%= link_to 'Show', @post %> |
<%= link_to 'Admin', posts_path %>
</div>
    </div>

