
<% provide(:title, "Objednavka") %>
<div class="form">
  <h1>Cenová ponuka</h1>
  <h2 class="h2cen">
    Donec at ullamcorper urna. Sed non lobortis nisl.
    Sed orci leo, rutrum quis nisl vel, scelerisque
    porttitor nisi. Suspendisse potenti. Nulla convallis
    nunc in porta eleifend. Donec aliquam urna at metus
    ornare, vel convallis nisl ultricies.
  </h2>
  </br>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
</div>