.hide {display:none;}
@font-face {
  font-family: 'Angrogyne_TB';
  src: asset-url("androgyne_tb-webfont.eot");
  src:asset-url("androgyne_tb-webfont.eot?#iefix") format('embedded-opentype'),
  asset-url("androgyne_tb-webfont.woff2") format('woff2'),
  asset-url("androgyne_tb-webfont.woff") format('woff'),
  asset-url("androgyne_tb-webfont.ttf") format("truetype"),
  asset-url("androgyne_tb-webfont.svg#androgyneregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RockwellExtraBoldRegular';
  src: asset-url('rockwell-extrabold.eot');
  src: asset-url('rockwell-extrabold.eot') format('embedded-opentype'),
  asset-url('rockwell-extrabold.woff2') format('woff2'),
  asset-url('rockwell-extrabold.woff') format('woff'),
  asset-url('rockwell-extrabold.ttf') format('truetype'),
  asset-url('rockwell-extrabold.svg#RockwellExtraBoldRegular') format('svg');
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {background: #000000; background-color: #000000;text-align: center; }
//text-align: center;
//body, h1, h2, h3, h4, h5 { font:400 1em 'Alegreya Sans', sans-serif; }

* {
  border:0; padding:0; margin:0; list-style-type:none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.wrapper {
  width:1280px;
  padding:0 10px;
  text-align: left;
  margin: 0 auto;
}

//--------HEADER----------

#header {
  width:100%;
  height:793px;
  background: image-url("header.jpg") no-repeat center ;
}

#navbar {
  width:300px;
  color:white;
  text-align:center;
  float:left;
}
#main_content {
  margin-left: auto;
  margin-right: auto;
  width:640px;
  color:white;
  text-align:center;
  float:left;
}
#sidebar_main {
  margin-left:10px;
  width:300px;
  color:white;
  text-align:center;
  float:right;
  padding-left:30px;
}



//--------NAVIGATION-HEADER----------
#pop_up {
  float:left;
  margin-left:50px;
  margin-top:30px;
}

#toggle { display: block;width: 28px;height: 30px;margin: 30px auto 10px;}
#toggle span:after,
#toggle span:before {content: "";position: absolute;left: 0; top: -9px; }
#toggle span:after{ top: 9px; }
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #e1e5e8;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  width: 260px;
  height:100%;
  padding-left: 40px;
  padding-right:40px;
  font-size: 18px;
  font-family: 'RockwellExtraBoldRegular';
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 3.2;
  text-align: left;
  border-radius: 4px;
  background: #fffcff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  margin-left: 70px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fffcff;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #000000;
  text-decoration: none;
  transition: all .2s;
}
#menu li a:hover,
#menu li a:focus {
  color: rgb(121, 186, 187);
}

//-------social block--------

#soc_block {
  padding-top:50px;
  float: left;
  display: inline;
  margin-right:70px;
}

#soc_block li {
  display:inline;

}

#soc_block .pinterest {
  margin:5px;
}

#soc_block .twitter {
  margin:5px;

}

#soc_block .fb {
  margin:5px;
}

//-------header title--------

#header_title {
  padding-top: 215px;
}

#header_h2, #header_h2_2{
  font-family: 'Angrogyne_TB';
  font-size:40px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  line-height: 1;
  -moz-transform: matrix( 0.83250633862186,0,0,0.83250633862186,0,0);
  -webkit-transform: matrix( 0.83250633862186,0,0,0.83250633862186,0,0);
  -ms-transform: matrix( 0.83250633862186,0,0,0.83250633862186,0,0);
}

#header_h2_2 {
  margin-top:-7px;
}

#header_1_h4,{
  margin-top: 37px;
  font-size: 23px;
  text-align: center;
  line-height: 1.4;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
}

#header_2_h4 {
  font-size:23px;
  margin-top:-13px;
  text-align:center;
  line-height: 1.4;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  color:white;
}


#main_content p {
  margin-top: -7px;
  margin-left:-5px;
  text-align: center;
  font-size: 14px;
  color:white;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  line-height: 0.6;
  font-weight: 300;
}

.logo {
  margin-top:20px;
  margin-left:20px;
}

//------------ ABOUT-BURGER--------------

#navigation {

  width: 100%;
  float: right;
  margin-top:-50px;

}
.test {

  margin-left:320px;
  text-align: center;
}
#navigation li {
  float:left;
  white-space: nowrap;
  background: image-url("hovermenu.png") no-repeat left;
  width:220px;
  height: 50px;
  z-index: -1;
}
#navigation a {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top:20px;
  margin-top:30px;
  z-index:2;
}
#navigation a:hover {

}

#navigation a.selected, #mainMenu a.selected:hover {  }

#zlozenie {
  width:176px;
  float:right;
}

#zakladatel a {
  float:left;
}

#zakladatel {
  margin-right:100px;
}

.burger {
  color: #715b24;
  padding-top:17px;
  padding-right:25px;
}

.burger:hover {
  color: #000000;
}
.zakladatel {
  color: #715b24;
  padding-top:17px;
  padding-right:20px;

}

.zakladatel:hover {
  color: #000000;
}

.zlozenie {
  color: #715b24;
  padding-top:17px;
  padding-right:20px;
}

.zlozenie:hover {
  color: #000000;
}

#about {
  width:100%;
  height:1455px;
  background: image-url("wood.jpg") no-repeat center ; }

#cover {
  float:right;
  margin-left: 250px;
  width:100%;
  height:1400px;
  background: image-url("noline.png") no-repeat center;
}

.sticker {
  float:right;
  position:relative;
  top:-60px;
  left:100px;
}

#head_about {
  height:80px;
  padding:10px;
  color: #000000;
  width:720px;
  margin-left:300px;
  margin-top: 80px;
}

#head_about h1{
  text-align:center;
  float:right;
  margin-right:70px;
  font-family: 'Angrogyne_TB';
  font-weight: 300;
}

#content div {
  float:left;
}

//-----illustracka---
#content_about {
  clear:both;
  height:1000px;
  margin-left:470px;
  margin-top:130px;

}

#oburgeri ,#ozakladateloch{
  width: 610px;
  height: 1200px;
  font-family: "myriad-pro",sans-serif;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
  margin-left: 341.937px;
  margin-top: 150px;
}
#oburgeri h1, #ozakladateloch h1 {

  font-size: 24px;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  color: rgb(121, 186, 187);
  left:-50px;
  line-height: 1;
  text-align: left;
  width: 590px;
  height: 40px;
}

#textContent {
  margin-top:60px;
}
#textContent h1{
  margin-top:60px;
}

#textContent p{
  margin-top:-20px;
}

//------MENU-BURGER------


#menu_burger {
  float:left;
  clear:both;
  width:100%;
  height:905px;
  background: image-url("bg.png") no-repeat center ;
  display: block;
}

#header_menu_burger {
  padding-top:130px;
  margin-left:550px;
  float:left;
}

#menu_burger_frame {
  width:100%;
  top: 50px;
  height:100%;
  background: image-url("border.png") no-repeat center ;
}

#content_mnu_burger {
  padding-top:18px;
  margin-left:190px;
  clear:both;
  color: rgb(255, 255, 255);
}

#content_mnu_burger div {
  padding:10px;
  width:280px;

  float:left;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
}

#column-left_menu_burger {
  width:240px;
  color: #d7d4cc;
  text-align:center;
  float:left;
}

#column-main_menu_r_burger{
  margin-left:10px;
  padding-left:250px;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  width:240px;
  color: #e0e0e0;
  text-align:center;
}

#column-right_menu_s_burger {
  margin-left:10px;
  width:240px;
  color: #e0e0e0;
  text-align:center;
  float:right;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
}

#menu_burger_cover {
  text-align:center;
}

#icon_beef {
  float:left;
  text-align:center;
}

.price_burger, .price_veggie, .price_spec {
  background: image-url("cena.png") no-repeat ;
  //  width:180px;
  height:102px;
  margin-left:85px;
  float:left;
  margin-top:10px;  font-family: "myriad-pro",sans-serif;
}
.price_spec {
  margin-top:20px
}

.euro_burger {

  margin-left:20px;
  float:left;
}

.price_burger h1{
  color: rgb(121, 186, 187);
  font-size: 72px;
  padding-top: 1px;
  font-weight: bold;
  margin-top:1px;
  line-height: 1.1;
  text-align: center;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;

}

.price_veggie h1{
  color: rgb(121, 186, 187);
  font-size: 72px;
  font-weight: bold;
  margin-top:1px;
  line-height: 1.1;
  text-align: center;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  padding-top: 2px;

}

.price_spec h1{
  color: rgb(121, 186, 187);
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-top:1px;
  text-align: center;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  padding-top: 2px;

}

.menu_separation {
  float: left;
  text-align: center;
  margin-left:330px;
  margin-top:30px;
}

.vegetarian {
  margin-top: 23px;
}

.text_veggie {
  margin-top:10px;
  margin-left:20px;
}

.text_burger {
  margin-left:25px;
}
.special {
  margin-top:25px;
}

.special p{
  margin-top:-30px;
}

.special_recept p {
  margin-top:-10px;
  color: #d7d4cc;
}

.vegetarian_recept p{

  color: #d7d4cc;
}

.double_regal {
  color: #807d75;
  padding-left: 40px;
}

.text_special {
  margin-left:25px;
}
//------REGAL-VYKLAD------

#regal_vyklad {
  width:100%;
  clear:both;
  z-index: 0;
  height:885px;
  background: image-url("rect_wood.jpg") no-repeat center ;
}
#regal_vyklad_wooden{
  width:100%; z-index: 2;
  height:100%;
  background: image-url("podklad.png") no-repeat center;
}

#regal_vyklad_wooden h1 {

  width:300px;
  float:left;
  padding-top:130px;
  margin-left:500px;
  font-size:40px;
  font-family: 'Angrogyne_TB';
  font-weight: 300;

}
.yoxview {
  float:right;
  margin-right:125px;
  margin-top: 30px;
  width:780px;
}

#regal_vyklad_head {
  height:80px;
  padding:5px;
  color: #000000;
  width:720px;
  margin-left:270px;
  margin-top: 80px;
}

#regal_vyklad_head h1{
  text-align:center;
  float:right;
  margin-right:90px;
  font-family: 'Angrogyne_TB';
  font-weight: 300;
}

#vyklad {
  margin-top:10px;
  padding-bottom:10px;
}

.row1, .row2 {
  padding:10px;
}
#vyklad div {

  float:left;
}
#vyklad-left {
  width:20px;
  text-align:center;
  float:left;
  margin-top: 270px;
  margin-left:180px;
}

#vyklad-right {
  margin-left:10px;
  text-align:center;
  float:right;
  width:70px;
  margin-right: 40px;
  padding-top:450px;

}

#vyklad-left svg{
  width:200%;
}

#arrow_left:hover #one {
  fill: #59564e;
}

#arrow_left {
  cursor:pointer;
  width:30%;
}

#arrow_right {
  width:60%;
  float:left;
  position:relative;
  left:-130px;
  cursor:pointer;
  margin-top: 26px;
}

#arrow_right:hover #one {
  fill: #59564e;
}

//-------NA-CESTACH------

#content_nacestach {
  float:left;
  clear:both;
  width:100%;
  height:905px;
  background: image-url("bg.png") no-repeat center ;
  display: block;
}

#header_nacestach_burger {
  padding-top:130px;
  margin-left:550px;
  float:left;
}

#content_nacestach_frame {
  width:100%;
  top: 50px;
  height:100%;
  background: image-url("border.png") no-repeat center ;
}

#header_regal_nacestach {
  padding-top: 150px;
  margin-left: 380px;
  float: left;
}

#content_mnu_nacestach {
  padding-top:25px;
  margin-left:80px;
  clear:both;
}


p.blocktext {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-family: "myriad-pro",sans-serif;
  font-size: 16px;
  color: rgb(156, 156, 156);
  line-height: 1.2;
  font-weight: 300;
}

p.blocktext_center {
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  text-align:center;
  font-family: "myriad-pro",sans-serif;
  font-size: 16px;
  color: rgb(156, 156, 156);
  line-height: 1.2;
  font-weight: 300;
}

.text_festivaly{
  text-align:center;
  margin-top:20px;
}

.text_rodina{
  text-align:center;
  margin-top:15px;
  margin-left:-5px;
}

#column-left_nacestach {
  width:240px;
  color:white;
  text-align:center;
  float:left;
  margin-left: 120px;
  margin-top:60px;
}

.text_party{
  text-align:center;
  margin-top:15px;
}

#icon_tent {
  float:left;
  text-align:center;
  margin-left:50px;
}

#icon_cup {
  //  float:left;
  text-align:center;
  margin-top:20px;
}

#column-main_nacestach{
  margin-left:70px;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  width:240px;
  color: #ffffff;
  text-align:center;
  float:left;
  margin-top:60px;
}


#regal_party p{
  margin-top:-20px;
}

.regal_party {
  width:200px;
}

#column-right_nacestach {
  float:right;
  width:240px;
  color:white;
  text-align:center;
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  margin-right:200px;
  margin-top:60px;
}


#footer {
  float:left;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid #bbb;
  background:rgb(44, 62, 80);
  color:white;
  text-align:center;
  clear:both;
}
.cestach_button {
  background: image-url("cest_button.png") no-repeat center ;
  width:427px;
  height:70px;
  text-align: center;
  font-family: "RockwellExtraBoldRegular";
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  line-height: 1.2;
  float:left;
  margin-left: 350px;
  margin-top:50px;
  clear:both;
}

.cestach_button h1 {
  padding-top: 2px;
  margin-top:12px;
  font-size: 24px;
}

#clear {
  clear:both;
}
.cestach_button:hover {
  cursor:pointer;
  -webkit-filter: drop-shadow(1px 5px 10px #222);
  filter: drop-shadow(1px 5px 10px #222);
  color:white;
}

.cestach_button:hover h1{
  color: #59564e;
}


//------TESTIMONIALS-----



#testimonials {
  width:100%;
  height:260px;
  background: image-url("testimonials.png") no-repeat center ;
  float: left;
}

#testimonialsBg {
  width:100%;
  height:260px;
  background: image-url("podklad_test_papier.png") no-repeat center ;
}

#testimonials h1 {
  font-size: 24px;
  font-family: "RockwellExtraBoldRegular";
  color: rgb(164, 200, 203);
  text-transform: uppercase;
  line-height: 1.2;
  float:left;
  //  margin-left:318px;
  margin-left: 420px;
  margin-top:80px;
  text-align: center;
}

#testimonials h4 {
  font-family: "myriad-pro",sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  float:right;
  margin-right: 463px;
  margin-top: 20px;
}

//------REGALGRAM-----


#regalgram {
  width:100%;
  height:905px;
  background: image-url("instagram_bg.png") no-repeat center ;
  float:left;
  text-align: center;
}

#regal_border {
  width:100%;
  top: 50px;
  height:100%;
  background: image-url("border.png") no-repeat center ;
}

#regalgram_header {
  padding-top:145px;
  text-align: center;
}

.regalgram_button {
  background: image-url("cest_button.png") no-repeat center ;
  width:427px;
  height:70px;
  text-align: center;
  font-family: "RockwellExtraBoldRegular";
  font-weight: 900;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  line-height: 1.2;
  float:left;
  margin-left: 420px;
  margin-top:50px;
}

.regalgram_button h1 {
  padding-top: 2px;
  margin-top:13px;
  font-size: 24px;
}
li {
  list-style: none;
}
.regalgram_button:hover {
  cursor:pointer;
  -webkit-filter: drop-shadow(1px 5px 10px #222);
  filter: drop-shadow(1px 5px 10px #222);
  color:white;
}

#map-canvas {
  width: 680px;
  height: 400px;
  float:right;
  margin-right:303px;
}

.regalgram_button:hover h1{
  color: #59564e;
}

#regalgram_frame {
  padding-top:50px;
  margin-top:40px;
}



//-----KONTANK----

#contact {
  width:100%;
  height:905px;
  background: image-url("instagram_bg.png") no-repeat center ;
  float:left;
  text-align: center;
}

#contact_header {
  padding-top:65px;
  text-align: center;
  margin-left: 25px;
}

#head_contact {
  text-align: center;
  float:left;
  margin-top:35px;
}

#head_contact h5 {
  font-size: 32px;
  font-family: "RockwellExtraBoldRegular";
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  margin-left: 235px;
  margin-top: 5px;
}

#head_contact p  {
  font-size: 24px;
  font-family: "myriad-pro",sans-serif;
  color: #A4C8CB;
  line-height: 1.2;
  text-align: center;
  margin-left: 245px;
  margin-top: 25px;
}

#map {
  float:right;
  margin-right:260px;
  margin-top:40px;
}

.open_hours {
  font-family: 'RockwellExtraBoldRegular';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
  color: rgb(221, 221, 221);
  float:left;
  text-transform: uppercase;
  margin-left:420px;
  margin-top:25px;
}


#social_contact {
  clear:both;
}

.pin {
  float:right;
  font-size: 18px;
  font-family: "myriad-pro",sans-serif;
  color: rgb(222, 222, 222);
  line-height: 1.2;
  text-align: center;
}

.twit {
  padding-top:35px;
  float:left;
  font-size: 18px;
  font-family: "myriad-pro",sans-serif;
  color: rgb(222, 222, 222);
  line-height: 1.2;
  text-align: center;
}

.fac {
  float:left;
  margin-top:35px;
  font-size: 18px;
  font-family: "myriad-pro",sans-serif;
  color: rgb(222, 222, 222);
  line-height: 1.2;
  text-align: center;
  text-decoration:none;
}

.facebook_footer {

  float:left;
  margin-top:30px;
  margin-left:150px;
  padding-right:20px;
}

.twitter_footer {
  padding-top: 30px;
  float:left;
  margin-left:130px;
  padding-right:20px;
}

.pinterest_foot {
  float:right;
  margin-top:35px;
  margin-right:150px;
  padding-right:5px;
}

.pinterest_footer {
  float:left;
  font-size: 18px;
  padding-right:20px;
  margin-top: -5px;
}

.four_footer {
  float:left;
  margin-left:530px;
  margin-top:40px;
}

.trip_footer {
  float:right;
  margin-right:480px;
  margin-top:40px;
}

.foot_block {
  float:left;
}

footer {
  height:160px;
  background: image-url("bg.png") no-repeat center ;
  display: block;
  text-decoration:none;
}

.regalburger_footer{
  float:left;
  color:white;
  margin-left:50px;
  margin-top:70px;
  font-size: 14px;
  font-family: "myriad-pro",sans-serif;
  line-height: 1.2;
  text-align: center;
  text-decoration:none;
}

.provoc_footer{
  float:right;
  margin-right:50px;
  margin-top:70px;
  font-size: 14px;
  font-family: "myriad-pro",sans-serif;
  color: rgb(222, 222, 222);
  line-height: 1.2;
  text-align: center;
  text-decoration:none;
}

//------FORM-----




